
<h1><%= @list.name %></h1>

<%= link_to 'Back to all lists', lists_path, class: 'btn btn-success' %>
<%= link_to 'Add a movie', new_list_bookmark_path(@list), class: 'btn btn-success' %>

<% @list.movies.each do |movie| %>
  <div class="list-frame">
    <div class="movie-list">
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="movie-card">
        <%= image_tag movie.poster_url, alt: "Le Wagon", class: 'poster' %>
        <div class="movie-infos">
          <div class="top-card">
            <h3><%= movie.title %></h3>
            <p><%= movie.rating %></p>
          </div>
          <p><%= movie.overview %></p> 
        </div>
      </div>
    </div>
    <div class="comments">
      <h4>Comments:</h4>
      <p><%= bookmark.comment %></p>
      <small>
        <%= link_to 'Delete a movie', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger'%> 
      </small>
    </div>
  </div>
<% end %>